API_TOKEN=xxxxxxxxxxx # discord bot account token
CLIENT_ID=xxxxxxxxxxx
BOT_DEBUG=true
REDIS_URL=redis://localhost
AIRTABLE_KEY=xxxxxxxxxxx #legacy
AIRTABLE_BASE=xxxxxxxxxxx #legacy
IS_DEV=True
GOVRN_GUILD_ID=xxxxxxxxxxx
PROTOCOL_URL=http://localhost:4000/graphql # url for protocol api server
PROTOCOL_TOKEN=xxxxxxxxxxx # token for protocol api server