# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
python-dotenv >= 0.19.1
boto3 >= 1.20.5
aioredis==2.0.0
pyairtable==1.0.0.post1
pyyaml
-e git+https://github.com/Pycord-Development/pycord.git@1df0afa14168216b7129d1dab6045573e6e2b80d#egg=py-cord

