# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
python-dotenv >= 0.19.1
boto3 >= 1.20.5
aioredis==2.0.0
pyairtable==1.0.0.post1
texttable==1.6.4
pyyaml
-e git+https://github.com/Pycord-Development/pycord.git@27e8dc37f10baddb7a4c4d235887c759f8fd8e1d#egg=py-cord
eth-account >= 0.4.0
web3 >= 5.28.0
twint >= 2.1.21